<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <!-- navbar section-->
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#">Logo</a>
                    <a href="old.app.component.html">Home</a>
                    <a href="#">Products</a>
                    <a href="#">Checkout</a>
                </li>
            </ul>
        </nav>
        <!-- background section-->
        <div class="background-section">
            <img class="bck-img">
        </div>

        <!--cards container-->

        <!--product-1-->
        <div class="card-container">
            <div class="card">
                <img src="../assets/images/run-shoes.png">
                <h3>Product 1</h3>
                <p>This is the product</p>
            </div>

            <!--product-2-->
            <div class="card">
                <img src="../assets/images/road-shoes.png">
                <h3>Product 2</h3>
                <p>This is the product</p>
            </div>

            <!--product-3-->
            <div class="card">
                <img src="../assets/images/running-shoes-1.png">
                <h3>Product 3</h3>
                <p>This is the product</p>
            </div>

            <!--product-4-->
            <div class="card">
                <img src="../assets/images/running-shoes-1.png">
                <h3>Product 4</h3>
                <p>This is the product</p>
            </div>
        </div>
    </body>
</html>